* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* Задає позицію маркерів списку */
  

  /* Прибирає стилі посилань */
  /* Прибирає стилі списків */
  list-style-type: none;
 
}  
a:link {
  text-decoration: none;
  color: inherit;
}



body {
  overflow: hidden;
}
.wrapper {
   
}
.workbook {
}
.workbook__container {
 padding: 5px 20px 0px;

}
.workbook__top {

}
h2 {
  margin-bottom: 10px;
  text-align: center;

  position: relative;
}

#button {
  position: absolute;
  top: 10px;
  background-color: antiquewhite;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.workbook-container__table {
  
  overflow: auto;
  height: 100vh;
  
}
.table {
  
  
  border-top: 1px solid #000;

  border-left: 1px solid #000;
  
  border-spacing: 0;
}





main {
  height: 100vh;
  
  overflow: auto;
  
  background-color: #9999990e;
  padding-bottom: 50px;
}


.box {
  width: 100%;
  background-color: antiquewhite;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  border: 1px solid #000;
  top: -250px;
  opacity: 0.9;
}
a {
  display: block;
  padding: 10px;
  color: #f00808;
  font-weight: 700;
  font-size: 30px;
 
}
.box button {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #f00808;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}






#class-name {
  border: none;
  background-color: inherit;
  display: block;
  margin: 0 auto;
  font-size: 24px;
  font-weight: 700;
  outline: none;
}
#class-name option:focus {
  background-color: #f00808;
}
option:active {
  background-color: #f00808;
  color: rebeccapurple;

}
option:focus {
  background-color: #f00808;
  color: rebeccapurple;
}



th, td {
  
}
th {
 
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;

  
  background-color: rgb(182, 182, 165);
  
}
td {
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}
/* Date */
.date {
  position: sticky;
  top: 0;
  z-index: 5;
  border-bottom: 2px solid #ff0303bb;
}
/* Number of Order */
.number-order {
  
 
}
/* Name and Surname */
.name-surname {
  position: sticky;
  left: 0;
  z-index: 10;
 
  border-left: 1px solid black;
  border-right: 2px solid #ff0303bb;
}


.grading {
  width: 100%;
  height: 30px;
  background-color: inherit;
  text-align: center;
  
  border: none;
  font-size: 18px;

}

.grading:focus {
  outline: none;
  border-bottom: 2px solid #f00808;
  border-radius: 5px;
  
}



#addDateBtn {
  position: absolute;
  bottom: 50px;
  right: 0;
  z-index: 50;
  padding: 5px;
}
th {
  position: relative;
}

.delete-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 6px;
  height: 6px;
 
  color: white;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  cursor: pointer;
}



